<section id="aboutMe" class="w-100 h-auto pt-5 mb-5">
  <h2 class="text-center"><span>A</span>bout Me</h2>
  <div class="container mt-5">
    <div id="part1" class="row align-items-center mb-5">
      <div class="col-md-5 col-12 mt-3 d-flex justify-content-center position-relative">
        <div class="black rounded-4"></div>
        <div class="myImg my-4"></div>
      </div>
      <div class="col-md-7 col-12 text-white d-flex flex-column justify-content-center align-items-start">
        <h1 class="fw-semibold mb-3">Who's Doha Elshafey?</h1>
        <p class="fs-5">Professionally connected with the web development industry.
          Problem solver, well-organised person, loyal employee with high attention to detail.
          Fan of Boxing, outdoor activities, video games, and coding of course.
          Interested in the entire frontend spectrum and working on ambitious projects with interesting people.</p>
      </div>
    </div>
    <!--  -->
    <!-- <div id="part2" class="row text-black text-center mb-4 d-flex justify-content-around">
      <div class="col-md-2">
        <div id="elementToHover2" class="shape py-3 bg-white"><i class="bi bi-lightning-fill fs-2"></i></div>
        <h4 class="text-white my-3">Fast</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-2">
        <div id="elementToHover2" class="shape py-3 bg-white"><i class="bi bi-grid-1x2-fill fs-2"></i></div>
        <h4 class="text-white my-3">Responsive</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-2">
        <div id="elementToHover3" class="shape py-3 bg-white"><i class="bi bi-fingerprint fs-2"></i></div>
        <h4 class="text-white my-3">Secure</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-2">
        <div id="elementToHover4" class="shape py-3 bg-white"><i class="bi bi-signpost-split-fill fs-2"></i></div>
        <h4 class="text-white my-3">Dynamic</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div> -->
    <div id="part3" class="row text-white text-center d-flex justify-content-around">
      <h2 class="fs-1 fw-bold text-center">My Skills</h2>
      <div class="col-md-2"><i class="bi bi-filetype-js"></i></div>
      <div class="col-md-2"><i class="bi bi-filetype-js"></i></div>
      <div class="col-md-2"><i class="bi bi-filetype-js"></i></div>
      <div class="col-md-2"><i class="bi bi-filetype-js"></i></div>
    </div>
  </div>
</section>
