section{

  h2{
    font-size: 4.5rem;
    color: white;
    margin-bottom: 5rem;
    letter-spacing: 8px;
    span{
        font-family: 'Lora', serif;
        font-size: 7rem;
        color: #d7850a;
        animation: bounce 0.5 infinite;
      }

  }
  .myImg{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    background-image: url(../../../assets/images/me.jpg);
    background-position: top;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 50%;
  }
  .black{
    background-image: url(../../../assets/images/orange.gif);
    background-position: center;
    background-size: contain;
    height: 20rem;
    width: 20rem;
    opacity: .6;
  }
  h1{
    letter-spacing: 3px;
  }
  p{
    line-height: 2;
  }
  #part2{
    margin-top: 8rem;
    .shape{
      height: 5rem;
      border-top-left-radius: 50rem;
      border-bottom-right-radius: 50rem;
      transition: .5s;
      &:hover{
        background-color: #e89b27 !important;
        border-top-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border-top-right-radius: 50rem;
        border-bottom-left-radius: 50rem;
        transition: .5s;
        i{
          color: white !important;
        }
      }
    }
  }
  #part3{
    margin-top: 7rem !important;
    i{
      font-size: 3rem;
    }
    h2{
      letter-spacing: .8rem;
      span{
        color: #d7850a;
        font-size: 4rem;
      }
    }
  }
}

