<section id="home" class="w-100">
  <div class="container">
    <div class="row vh-100">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h2 data-aos="fade-right" class="name">Hi Am;</h2>
        <h1 class=" fw-bolder" data-aos="fade-left" data-aos-delay="900">Doha Elshafey</h1>
        <div data-aos="fade-left" class="w-ani position-relative d-flex align-items-center " id="ani">
          <p class="title transition animate-charcter text-capitalize" [innerHTML]="innerHtml"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="particles-js"></div>
