
section{
  // position: relative;
  .bgImg{
    // background-image: url(../../../assets/images/orange.gif);
    // background-size: cover;
    // background-position: center;
    // position: relative;
    // width: 94.9rem;
    // height: 20rem;
    // top: 0%;
    // left: 0%;
    // z-index: -1;
  }
  h1{
    // position: absolute;
    // background-color: black;
    // top: 20%;
    // left: 35%;
    margin-bottom: 4rem;
    letter-spacing: .8rem;
    span{
      font-size: 4rem;
      color: #d7850a;
    }
  }
}
