<section id="projects" class="w-100 pt-5">
  <div class="bgImg mb-4"></div>
  <h1 class="text-center text-white p-3 rounded-3 fw-bolder">My <span>P</span>rojects</h1>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-4 col-12">
        <img class="w-100" src="../../../assets/images/projects/1.jpg" alt="">
      </div>
      <div class="col-md-4 col-12 my-4">
        <img class="w-100" src="../../../assets/images/projects/2.jpg" alt="">
      </div>
      <div class="col-md-4 col-12 my-4">
        <img class="w-100" src="../../../assets/images/projects/3.jpg" alt="">
      </div>
      <div class="col-md-4 col-12 my-4">
        <img class="w-100" src="../../../assets/images/projects/8.jpg" alt="">
      </div>
      <div class="col-md-4 col-12 my-4">
        <img class="w-100" src="../../../assets/images/projects/12.jpg" alt="">
      </div>
      <div class="col-md-4 col-12 my-4">
        <img class="w-100" src="../../../assets/images/projects/13.jpg" alt="">
      </div>

    </div>
  </div>
</section>
